// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}

@font-face {
	font-family: 'D2coding';
	font-style: normal;
	font-weight: 400;
	src: url('D2Coding.eot');
	src: local('※'), local('D2Coding'),
		 url('D2Coding.eot?#iefix') format('embedded-opentype'),
		 url('D2Coding.woff2') format('x-woff2'),
		 url('D2Coding.woff') format('woff'),
		 url('D2Coding.ttf') format('truetype'),
		 url('D2Coding.svg') format('svg');
}

@font-face {
	font-family: 'D2codingBold';
	font-style: normal;
	font-weight: 700;
	src: url('D2CodingBold.eot');
	src: local('※'), local('D2Coding Bold'),
		 url('D2CodingBold.eot?#iefix') format('embedded-opentype'),
		 url('D2CodingBold.woff2') format('x-woff2'),
		 url('D2CodingBold.woff') format('woff'),
		 url('D2CodingBold.ttf') format('truetype'),
		 url('D2CodingBold.svg') format('svg');
}

//IBMfont
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

// 나눔고딕
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic-coding.css');

// 나눔 스퀘어
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');

// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; font-family: 'NanumSquareNeo', monospace;}

html { height: 100%; }

body {
  color: black;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
	border-radius: 5px;
	// color: white;
	background: rgb(53, 53, 53);
	font-family: D2coding;
	padding: 0.3rem;
}

.highlighter-rouge {
	color: #eb5757;   
	background: rgba(135,131,120,0.15);   
	margin: 0 2px;   
	padding: 2px 5px;   
	border-radius:3px;   
	border: 1px solid #e0e0e0;
	display: block;
	overflow-x: auto;
	white-space: pre-wrap;
	font-family: D2coding;
	padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid rgb(53, 53, 53);
  padding: 1rem;
  font-family: D2coding;

  p { margin: 0; }
}

img {
  max-width: 100%;
  margin: 0 auto;
}


// highligher

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #c9d1d9;
  background-color: #161b22;
}
.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv {
  color: #ff7b72;
}
.highlight .gr {
  color: #f0f6fc;
}
.highlight .gd {
  color: #ffdcd7;
  background-color: #67060c;
}
.highlight .nb {
  color: #ffa657;
}
.highlight .nc {
  color: #ffa657;
}
.highlight .no {
  color: #ffa657;
}
.highlight .nn {
  color: #ffa657;
}
.highlight .sr {
  color: #7ee787;
}
.highlight .na {
  color: #7ee787;
}
.highlight .nt {
  color: #7ee787;
}
.highlight .gi {
  color: #aff5b4;
  background-color: #033a16;
}
.highlight .kc {
  color: #79c0ff;
}
.highlight .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #79c0ff;
}
.highlight .sb {
  color: #79c0ff;
}
.highlight .bp {
  color: #79c0ff;
}
.highlight .ne {
  color: #79c0ff;
}
.highlight .nl {
  color: #79c0ff;
}
.highlight .py {
  color: #79c0ff;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #79c0ff;
}
.highlight .o, .highlight .ow {
  color: #79c0ff;
}
.highlight .gh {
  color: #1f6feb;
  font-weight: bold;
}
.highlight .gu {
  color: #1f6feb;
  font-weight: bold;
}
.highlight .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss {
  color: #a5d6ff;
}
.highlight .nd {
  color: #d2a8ff;
}
.highlight .nf, .highlight .fm {
  color: #d2a8ff;
}
.highlight .err {
  color: #f0f6fc;
  background-color: #8e1519;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #8b949e;
}
.highlight .gl {
  color: #8b949e;
}
.highlight .gt {
  color: #8b949e;
}
.highlight .ni {
  color: #c9d1d9;
}
.highlight .si {
  color: #c9d1d9;
}
.highlight .ge {
  color: #c9d1d9;
  font-style: italic;
}
.highlight .gs {
  color: #c9d1d9;
  font-weight: bold;
}

